{{ define "main" }}

<h1>About</h1>

<p>
    Nơi để mình lưu trữ những kiến thức đã học và đọc được trong quá trình làm việc hoặc học tập.
    Đa số sẽ là kiến thức về tech và đôi khi là các lĩnh vực khác.
    Vì đây là nơi mình tự tổng hợp, nên không đảm bảo về tính chính xác và đúng đắn tại mọi thời điểm,
    chỉ dùng với mục đích tham khảo và rất vui nếu nó có thể cung cấp thêm cho mọi người keywords mới
    hoặc insight gì đó hay ho.
</p>
<br/>

<h1>Latest posts</h1>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 10 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
            <ul class="tag-list">
                {{ range .Params.Tags}}
                <li>
                    <a href="/tags/{{.}}">#{{ . }}</a>
                </li>
                {{ end }}
            </ul>
        </div>    
    {{ end }}
{{ end }}
</div>

<h1>Latest photos</h1>

<div class="image-grid">
{{ with .Site.GetPage "/photos" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Resize "400x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        </a>
    {{ end }}
{{ end }}
</div>

{{ end }}